body {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #efe5dd;
    color: #92464d;
}

.navbar-laravel {
    background-color: #92464d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
    color: #efe5dd !important;
}

.nav-link {
    color: #efe5dd !important;
}

// .table-dark {
//     color: #efe5dd;
// }

.list-group-item {
    border-color: #efe5dd;
    background-color: #92464d;
    color: #efe5dd;
}

.table-light {
    color: #92464d;
}

.login-box {
    // background-color : rgba(0, 0, 0, 0);
}

// .login-header {
//     background-color: #92464d;
// }

.card-header {
    background-color: #fff;
    border-bottom: 2px solid rgba(146, 70, 77, 0.5);
}

.login-body {
    // background-color: rgba(0, 0, 0, 0.25);
}

//見当たらないので直接追記
a {
    color: #92464d;
}

a:hover {
  color: #6c757d;
//   font-size: 2em;
}

.navbar-toggler-icon {
    color: #efe5dd;
    display: inline;
}

// 変更されてない
.form-control:focus {
  outline: 0;
  border: #92464d;
  box-shadow:rgba(239, 115, 131, 0.25);
}
