body {
    color: #92464d;
    background-color: #efe5dd;
}

.header {
    .logo {
        width: 120px;
        height: 82px;
    }
}

.headline {
    .caption {
        position: relative;
        width: 350px;
        .image {
            img {
                width: 100%;
            }
        }
        .title {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(146, 70, 77, 0.6);
            color: #efe5dd;
            h1 {
                font-size: 1.2em;
            }
        }
        .body {
            font-size: 0.8em;
        }
    }
}

.posts {
    .post {
        .date {
            font-size: 0.6em;
        }
        .title {
            font-size: 1.2em;
            font-weight: bold;
        }
        .body {
            font-size: 0.8em;
        }
        .image {
            img {
                width: 250px;
            }
        }
        .name {
            font-size: 1.2em;
            font-weight: bold;
        }
        .gender {
            font-size: 0.8em;
        }
        .hobby {
            font-size: 0.8em;
        }
        .introduce {
            font-size: 0.8em;
        }
    }
}

//場所が見当たらないので直接変更
.a{
    color: #92464d;
}
.a:hover{
    color: #911721; 
}

.navbar-laravel{
    .navbar-brand{
        color: #92464d;
    }
    
    .navbar-toggler{
        color: #92464d;
        font-size: 0.8em;
    }
    
    .navbar-nav .nav-link{
        padding-left: 1rem;
        color:#92464d;
    }
}



