body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #efe5dd;
  color: #92464d;
}

.navbar-laravel {
  background-color: #92464d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #efe5dd !important;
}

.nav-link {
  color: #efe5dd !important;
}

.list-group-item {
  border-color: #efe5dd;
  background-color: #92464d;
  color: #efe5dd;
}

.table-light {
  color: #92464d;
}

a {
  color: #92464d;
}

a:hover {
  color: #6c757d;
  font-size: 2em;
}

